<!doctype html>
    <head>
        <title>Wbx Calling LGW</title>
        <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    </head>
    <body>
        <nav class="navbar navbar-dark bg-light">
            <form class="form-inline">
                <b>Webex Calling local Gateway Configuration Generator</b>
             </form> 
        </nav>
          <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
          <script src="static/js/vendor/bootstrap/bootstrap.min.js"></script>      
          {% block content %}
          {% endblock %}     
    </body>
</html>